In [4]:
import pandas as pd
import nba_api
import os
from sqlalchemy import create_engine

In [14]:
games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22021,1610612756,PHX,Phoenix Suns,0022100581,2022-01-06,PHX vs. LAC,W,240,106,...,0.800,21,42,63,22,5,7,8,20,17.0
1,22021,1610612746,LAC,LA Clippers,0022100581,2022-01-06,LAC @ PHX,L,241,89,...,0.840,8,41,49,20,5,7,12,16,-17.0
2,22021,1610612744,GSW,Golden State Warriors,0022100580,2022-01-06,GSW @ NOP,L,240,96,...,0.833,8,35,43,22,12,6,14,24,-5.0
3,22021,1610612740,NOP,New Orleans Pelicans,0022100580,2022-01-06,NOP vs. GSW,W,242,101,...,0.793,8,38,46,20,7,5,17,18,5.0
4,22021,1610612765,DET,Detroit Pistons,0022100579,2022-01-06,DET @ MEM,L,239,88,...,0.769,10,29,39,23,7,3,11,14,-30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,22021,1610612741,CHI,Chicago Bulls,0022100004,2021-10-20,CHI @ DET,W,239,94,...,0.867,9,39,48,18,8,5,17,19,6.0
1136,22021,1610612751,BKN,Brooklyn Nets,0022100001,2021-10-19,BKN @ MIL,L,241,104,...,0.565,5,39,44,19,3,9,12,17,-23.0
1137,22021,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19,GSW @ LAL,W,240,121,...,0.833,9,41,50,30,9,2,17,18,7.0
1138,22021,1610612747,LAL,Los Angeles Lakers,0022100002,2021-10-19,LAL vs. GSW,L,241,114,...,0.474,5,40,45,21,7,4,17,25,-7.0
1139,22021,1610612749,MIL,Milwaukee Bucks,0022100001,2021-10-19,MIL vs. BKN,W,239,127,...,0.778,13,41,54,25,8,9,7,19,23.0

In [8]:
game_ids_data

        GAME_ID   GAME_DATE
0    0022100119  2022-01-06
1    0022100134  2022-01-06
2    0022100368  2022-01-06
3    0022100547  2022-01-06
4    0022100563  2022-01-06
..          ...         ...
565  0022100482  2021-11-26
566  0022100372  2021-11-26
567  0022100103  2021-11-26
568  0022100311  2021-11-26
569  0022100565  2021-11-26

[570 rows x 2 columns]

In [7]:
from data_warehouse.utils import queries, db_paths

game_ids_data = pd.read_sql(queries["game_ids"], db_paths["games_db"])

In [3]:

from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

In [10]:
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable='2021-22', 
                                              league_id_nullable='00', 
                                              season_type_nullable='Regular Season')

In [12]:
database_path = os.environ["SP_DATA_WAREHOUSE_PATH"] + "databases/"
season = "2021-22"
league_id = "00"
season_type = "Regular Season"

In [13]:
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable=season, league_id_nullable=league_id, season_type_nullable=season_type)
games = gamefinder.get_data_frames()[0]
# game_ids = pd.DataFrame()
# game_ids["GAME_ID"] = games["GAME_ID"].unique()
# db_name = f"sqlite:///{database_path}games_db_TEST.db"
# db_engine = create_engine(db_name)
# game_ids.to_sql("GAMES_ID", db_engine, index=False, if_exists="append")

In [31]:
games.columns
games[["TEAM_ID", "TEAM_ABBREVIATION", "TEAM_NAME"]]

         TEAM_ID TEAM_ABBREVIATION              TEAM_NAME
0     1610612766               CHA      Charlotte Hornets
1     1610612765               DET        Detroit Pistons
2     1610612753               ORL          Orlando Magic
3     1610612755               PHI     Philadelphia 76ers
4     1610612764               WAS     Washington Wizards
...          ...               ...                    ...
1127  1610612755               PHI     Philadelphia 76ers
1128  1610612744               GSW  Golden State Warriors
1129  1610612747               LAL     Los Angeles Lakers
1130  1610612749               MIL        Milwaukee Bucks
1131  1610612751               BKN          Brooklyn Nets

[1132 rows x 3 columns]

In [28]:
games["MATCHUP"][0].split("vs.")

['CHA ', ' DET']